<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.demo.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission  android:name="android.permission.PACKAGE_USAGE_STATS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity android:name="moe.demo.demo.Activity_open_noti" />
        <activity android:name="moe.demo.demo.Activity_Notification" />
        <activity
            android:name="moe.demo.demo.Activity_Launch_Mode"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="moe.demo.demo.Activity_Launch_Mode1"
            android:launchMode="standard" />
        <activity
            android:name="moe.demo.demo.Activity_Launch_Mode2"
            android:launchMode="singleTop" />
        <activity
            android:name="moe.demo.demo.Activity_Launch_Mode3"
            android:launchMode="singleTask" />
        <activity
            android:name="moe.demo.demo.Activity_Launch_Mode4"
            android:launchMode="singleInstance" />
        <activity
            android:name="moe.demo.demo.Activity_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name="moe.demo.demo.Activity_Implicit">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="inline" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="inline" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter android:priority="888">
                <action android:name="com.demo.myapplication.Active_Start" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="AAAAA" />
            </intent-filter>
            <!-- <intent-filter android:priority="888"> -->
            <!-- <action android:name="android.intent.action.DIAL" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:scheme="tel" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="moe.demo.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="moe.demo.demo.Activity_Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="moe.demo.demo.Activity_FeedBack" />
        <activity android:name="moe.demo.demo.Activity_Service">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="moe.demo.demo.Activity_Broadcast">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="moe.demo.demo.Activity_okhttp">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service android:name="moe.demo.demo.Class_Service" />

        <receiver android:name="moe.demo.demo.Class_Broadcast_Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <!--  -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!--  -->

        </receiver>
        <receiver
            android:name="moe.demo.demo.Class_Broadcast_Receiver_high_permission"
            android:permission="TODO">
            <intent-filter android:priority="1000">
                <action android:name="modify" />
                <action android:name="moe.demo.broadcast.order" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="moe.demo.demo.Class_Broadcast_Receiver_high_permission2"
            android:permission="TODO">
            <intent-filter android:priority="1000">
                <action android:name="abort" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="moe.demo.demo.Class_Broadcast_Receiver_low_permission"
            android:permission="TODO">
            <intent-filter android:priority="-1000">
                <action android:name="abort" />
                <action android:name="modify" />
                <action android:name="moe.demo.broadcast.order" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="moe.demo.demo.Class_FinalReceiver_Broadcast"
            android:permission="TODO">
            <intent-filter>
                <action android:name="abort" />
                <action android:name="modify" />
                <action android:name="moe.demo.broadcast.order" />
            </intent-filter>
        </receiver>
    </application>

</manifest>