<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.demo.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Activity_Launch_Mode"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Launch_Mode1"
            android:launchMode="standard" />
        <activity
            android:name=".Activity_Launch_Mode2"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity_Launch_Mode3"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity_Launch_Mode4"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Dialog_Activity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".Implicit_Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="inline" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="inline" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter android:priority="888">
                <action android:name="com.demo.myapplication.Active_Start" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="AAAAA" />
            </intent-filter>
            <!-- <intent-filter android:priority="888"> -->
            <!-- <action android:name="android.intent.action.DIAL" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:scheme="tel" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Activitty">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_FeedBack_Activity" />
        <activity android:name=".Service_Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".Broadcast_Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".okhttp_Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service android:name=".Service_class" />

        <receiver android:name=".Broadcast_Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <!-- -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!---->

        </receiver>
        <receiver android:name=".Broadcast_Receiver_high_permission">
            <intent-filter android:priority="1000">
                <action android:name="modify" />
                <action android:name="moe.demo.broadcast.order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Broadcast_Receiver_high_permission2">
            <intent-filter android:priority="1000">
                <action android:name="abort" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Broadcast_Receiver_low_permission">
            <intent-filter android:priority="-1000">
                <action android:name="abort" />
                <action android:name="modify" />
                <action android:name="moe.demo.broadcast.order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".FinalReceiver_Broadcast">
            <intent-filter>
                <action android:name="abort" />
                <action android:name="modify" />
                <action android:name="moe.demo.broadcast.order" />
            </intent-filter>
        </receiver>
    </application>

</manifest>